.main-container {
  margin: auto;
  max-width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.row {
  display: flex;
  justify-content: center;
  align-content: center;
}
.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.environment-label {
  font-size: 1.2rem;
  margin-right: 4px;
}

.bottom {
  position: absolute;
  bottom: 0;
}

.main-timer,
.break-timer,
.btn-clear {
  padding: 10px;
  border-radius: 10px;
  margin: 2rem;
}
