.main-container {
  margin: auto;
  margin-top: 1rem;
  max-width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.row {
  display: flex;
  justify-content: center;
  align-content: center;
}
.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.time-count {
  font-size: 2rem;
  font-weight: bold;
}

.environment-label {
  font-size: 1.2rem;
  margin-right: 4px;
}

.bottom {
  position: absolute;
  bottom: 50px;
}

/* All three button */

.main-timer,
.break-timer,
.btn-clear {
  padding: 10px;
  border-radius: 10px;
  margin: 2rem;
  font-size: 1.5rem;
}

@media (min-width: 550px) {
  .main-timer,
  .break-timer,
  .btn-clear {
    font-size: 3rem;
  }
}
