html,
#root,
body {
  height: 100%;
}
.main-container {
  height: 100%;
  margin: auto;
  padding: 5rem 1rem;
  /* max-width: 80vw; */

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.row {
  display: flex;
  justify-content: center;
  align-content: center;
}
.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.time-count {
  font-size: 4rem;
  font-weight: bold;
}
.remaining-secs {
  font-size: 1.2rem;
}

.environment-label {
  font-size: 1.2rem;
  margin-right: 4px;
}

.mini-button {
  border-radius: 10px;
  margin: 0.5rem;
  padding: 0.5rem;
}

/* All three button */
.main-timer,
.break-timer,
.btn-clear {
  padding: 0.5rem 1rem;
  border-radius: 10px;
  margin: 0.2rem;
  font-size: 1.5rem;
}

/* These desktop settings coz I made this a mobile first site. */
@media (min-width: 550px) {
  .main-timer,
  .break-timer,
  .btn-clear {
    font-size: 3rem;
    padding: 1rem 2.5rem;
    margin: 2rem;
  }

  .time-count {
    font-size: 6rem;
  }
}
